*{
    padding: 0;
    margin: 0;
}

#container{
    display: flex;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    zoom: 1.1;
}

    .barra{
        display: flex;
        flex-direction:column;
        width: 15%;
        background-color: black;
    }

        .barra-icones-esquerda{
            display: flex;
            height: 45%;
            margin-left: 10px;
        }

        .barra-icones-direita{
            display: flex;
            height: 45%;
            margin-top: 8px;
            margin-left: 10px;
            margin-right: 5px;
            gap: 5px;
        }

            .btn-icones{
                background-color: black;
                border-color: black;
                height: 35px;
                width: 25%;

            }

                #x{
                    margin-top: 22px;
                    height: 25%;
                    width: 35%;
                    transform: scale(1.5);
                    opacity: 90%;
                }

                #facebook-fill{
                    height: 30px;
                    width: 30px;
                    background-color: white;
                    border-radius: 50%;
                    transform: scale(1.2);
                    margin-top: 10px;
                }

                #facebook{
                    height: 100%;
                    width: 100%;
                    transform: scale(1.25);
                    fill-opacity: white;
                }

                #lupa_mais{
                    height: 90%;
                    width: 90%;
                }

                #lupa_menos{
                    opacity: 30%;
                    height: 90%;
                    width: 90%;
                }

                #etiqueta{
                    height: 70%;
                    width: 70%;
                }

                #seta_dupla{
                height: 50%;
                width: 50%;
                }

        .seta-div{
            display: flex;
            height: 55%;
        }

            #btn-seta-esquerda{
                display: flex;
                height: 55px;
                width: 55px;
                background-color: #1A1A1A;
                margin-left: 5%;
                border-radius: 50%;
                border-color: black;
                align-items: center;
                opacity: 60%;
            }

                #seta-esquerda{
                    display: flex;
                    height: 40%;
                    width: 40%;
                    margin-left: 15px;
                }

            #btn-seta-direita{
                display: flex;
                height: 55px;
                width: 55px;
                background-color: #1A1A1A;
                margin-left: auto; 
                margin-right: 5%;
                border-radius: 50%;
                border-color: black;
                align-items: center;
                opacity: 60%;
            }

                #seta-direita{
                    display: flex;
                    height: 40%;
                    width: 40%;
                    margin-left: 18px;
                    transform: rotate(180deg);
                }

    #foto-div{
            display: flex;
            width: 50%;
    }

        #foto{
                width: 100%;
        }

    #conteudo{
        display: flex;
        flex-direction:column;
        width: 30%;
        background-color: #242526;
    }

        .linha1{
            width: 100%;
            height: 1px;
            background-color: #3E4042;
        }

        .linha2{
            align-self: center;
            width: 90%;
            height: 0.1%;
            background-color: #3E4042;
        }

        #conteudo-icones{
            display: flex;
            align-items: center;
            height: 10%;
            flex-direction: row-reverse;
            margin-right: 10px;
            gap: 5px;
        }

            .btn-conteudo-icones{
                background-color: #4E4F50;
                opacity: 80%;
                height: 70%;
                width: 12%;
                border-radius: 50%;
                border-width: 0px;
            }

                .img-conteudo-icones{
                    height: 50%;
                    width: 50%;
                }

                .img-menus{
                    height: 80%;
                    width: 80%;
                }

        #conteudo-post{
            display: flex;
            flex-direction: column;
            height: 50%;
        }

            #usuario{
                display: flex;
                height: 20%;
                padding-inline: 5px;
                padding-top: 20px;
                gap: 5px;
            }

                #perfil{
                    width: 15%;
                    text-align: center;
}

                    .img-perfil{
                        border-radius: 50%;
                        height: 75%;
                        width: 80%;
                        margin-top: 5px;
                    }

                #nome-data{
                    width: 70%;
                    padding-top: 5px;
                }

                    #p-nome{
                        color: #DADCE1;
                        
                        font-family: Arial, Helvetica, sans-serif;
                    }

                    #p-data{
                        color: #A6A9AD;
                        font-size: 14px;
                        font-family: Arial, Helvetica, sans-serif;
                    }

                #tres-pontos{
                    width: 15%;
                    align-items: center;
                }

                    #btn-tres-pontos{
                        background-color: #242526;
                        border-width: 0px;
                        border-radius: 50%;
                        margin-top: 15px;
                    }

                        #img-tres-pontos{
                            height: 40%;
                            width: 40%;
                            opacity: 50%;
                        }


            #legenda{
                height: 70%;
                padding-inline: 15px;
            }

                .p-legenda{
                    color: #DADCE1;
                    font-size: 14px;
                    font-family: Arial, Helvetica, sans-serif;
                    margin-bottom: 20px;

                }

            #dados-post{
                height:10%;
                display: flex;
                flex-direction: row-reverse;
                gap: 86px;
            }

                .p-escuro{
                    color: #A6A9AD;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    text-align: right;
                    margin-right: 10px;
                }

                #p-onze{
                    color: #A6A9AD;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 14px;
                }

        #conteudo-like{
            height: 7%;
            display: flex;
            margin-left: 40px;
            margin-right: 10px;
            align-items: center;
        }

            .btn-like{
                display: flex;
                width: 33%;
                height: 70%;
                align-items: center;
                background-color: #242526;
                border-width: 0px;
                gap: 5px;
            }

                .img-like{
                    width: 20%;
                    opacity: 40%;
                }

                .p-like{
                    color: #A6A9AD;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 14px;
                }

        #conteudo-comments{
            height: 33%;
            display: flex;
            flex-direction: column;
        }

            #mais-relevantes{
                height: 10%;
                display: flex;
                flex-direction: row-reverse;
            }

                #p-mais-relevantes{
                    color: #A6A9AD;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                }

                #img-mais-relevantes{
                    opacity: 70%;
                    margin-bottom: 2px;
                    margin-right: 20px;
                }

            .comentario{
                height: 23%;
                display: flex;
                padding-left: 20px;
            }

                .perfil-comentario{
                    width: 10%;
                    align-items: center;
                }

                    .img-perfil-comentario{
                        height: 60%;
                        width: 80%;
                        border-radius: 50%;
                    }

                .caixa-comentario{
                    width: max-content;
                    padding: 8px;
                    border-radius: 20px;
                    background-color: #3A3B3C;
                }

                    .nome-comentario{
                        color: #E4E6EB;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 11px;
                        font-weight: bold;
                    }

                    .texto-comentario{
                        color: #DADCE1;
                        font-size: 14px;
                        font-family: Arial, Helvetica, sans-serif;
                    }

            .responder{
                height: 7%;
                padding-left: 60px;
                padding-top: 2px;
                padding-bottom: 2px;
                display: flex;
                align-items: center;
                gap: 10px;
            }

                .texto-responder{
                    color: #DADCE1;
                    font-size: 12px;
                    font-family: Arial, Helvetica, sans-serif
                }

            #escrever{
                height: 30%;
                display: flex;
                margin-bottom: 20px;
                padding-left: 20px;

            }

                #img-escrever{
                    height: 80%;
                    width: 80%;
                    border-radius: 50%;
                    margin-right: 2px;
                    margin-top: 3px;
                }